<section class="bg-primary" id="about">
    <div class="container">
        <img src = "img/portfolio_dp.jpeg"  alt style="margin : auto;border-radius:50%;transform: scale(0.3);">
        <br></br>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
            
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">I am a dedicated and skilled Data Analyst with a strong background in SQL, Python, and data visualization tools like Tableau and Power BI. Holding a Master's degree in Data Science from the New Jersey Institute of Technology, I bring a wealth of knowledge and hands-on experience in medical data analysis, ETL optimization, and strategic pricing models to the table.</p>
                <p class="text-faded">Passionate about solving complex problems, I am dedicated to utilizing data to inform strategic initiatives and positively impact business outcomes. As a Data Analyst, I am eager to contribute to a dynamic team and leverage my skills to deliver actionable insights and enhance organizational efficiency.</p>
                
            </div>
        </div>
    </div>
</section>
